{% extends 'base.html.twig' %}

{% block title %}
  Test
{% endblock %}

{% block body %}
  <!-- Title Page -->
  <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
    style="background-image: url(img/heading-pages-062.jpg);">
    <h2 class="l-text2 t-center">
      Kontaktai
    </h2>
  </section>

  <!-- content page -->
  <center>
    <setion class="bgwhite p-t-66 p-b-60">
      <div class="container">
        <center>
          <div class="row">
            <div class="col-sm-0 col-md-0 col-lg p-b-0">
              <!-- Contact Form -->
              <center>

              <div class="bg-tarpas"></div>
              
                <form class="leave-comment"
                  name="contact"
                  method="post"
                  action="submit.php">
                  <h4 class="m-text26 p-b-36 p-t-15">
                    Parašykite mums:
                  </h4>
                  <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22"
                      type="text"
                      name="name"
                      placeholder="Vardas" />
                  </div>

                  <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22"
                      type="text"
                      name="phoneNumber"
                      placeholder="Telefono numeris" />
                  </div>

                  <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22"
                      type="text"
                      name="email"
                      placeholder="Elektroninis paštas" />
                  </div>

                  <textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20"
                    name="message"
                    placeholder="Žinutė"></textarea>

                  <div class="w-size25">
                    <!-- Button -->
                    <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4"
                      type="submit">
                      Siūsti
                    </button>
                  </div>
                </form>
              </center>
            </div>
          </div>
        </center>
      </div>
    </setion>
  </center>

  <section class="bg-tarpas"></section>
{% endblock %}
