{% extends 'base.html.twig' %}

{% block title %}
  Test
{% endblock %}

{% block body %}
  <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
    style="background-image: url(img/heading-pages-062.jpg);">
    <h2 class="l-text2 t-center">
      Catalog is empty.
    </h2>
  </section>

  <section class="bg-tarpas"></section>
  <section class="bg-tarpas"></section>
  <section class="bg-tarpas"></section>

{% endblock %}
