<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
       
            
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            {# <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> #}
            <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
            <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
            <link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
            <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
            <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
            <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
            <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
            <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
            <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
            <link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
            
            
            <style>
            {% include 'css/main.css.twig' %}
            {% include 'css/util.css.twig' %}     
            </style>

            


        {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

            <script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
            <script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
            <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="vendor/select2/select2.min.js"></script>
            <script type="text/javascript">
                $(".selection-1").select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $('#dropDownSelect1')
                });
            </script>
            <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
            <script type="text/javascript" src="js/slick-custom.js"></script>
            <script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
            <script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
            <script type="text/javascript" src="vendor/sweetalert/sweetalert.min.js"></script>
            <script src="js/main.js"></script>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script>

            </script>
        {% endblock %}
    </head>

    <body>
    	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="https://www.facebook.com/OSSO-223766305171825" class="topbar-social-item fa fa-facebook"></a>
					<a href="https://www.instagram.com/osso_brand/" class="topbar-social-item fa fa-instagram"></a>
					<a href="https://wa.me/12392701982" class="topbar-social-item fa fa-whatsapp"></a>
					<!--<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>  -->
				</div>

				<span class="topbar-child1">
					<!-- textas ant virsaus -->
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
						<a href="https://www.osso-shop.lt">
                            <img src="ossoshop/web/img/iconfinder_Lithuania_92181.png" width="30" alt="LANG-LT"> </a>
                        <a href="https://www.osso-shop.lt/en">
                            <img src="images/iconfinder_United-States_flat_92406.png" width="30" alt="LANG-EN"> </a>
					</span>

					<!-- <div class="topbar-language rs1-select2">
						<select class="selection-1" name="time">
							<option>USD</option>
							<option>EUR</option>
						</select> 
					</div> -->
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="index.html" class="logo">
                    <img src="{{ asset('../web/img/icons/logo.png') }}" alt="logo!" />
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="index.html">Pradžia</a>
							</li>

							<li class="sale-noti">
								<a href="akcijos.html">Išpardavimai</a>
							</li>

							<li>
								<a href="kontaktai.html">Kontaktai</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="index.html" class="logo-mobile">
				<img src="images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
						</div>
            
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
    
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
					<a href="https://www.facebook.com/OSSO-223766305171825" class="topbar-social-item fa fa-facebook"></a>
					<a href="https://www.instagram.com/osso_brand/" class="topbar-social-item fa fa-instagram"></a>
					<a href="https://wa.me/12392701982" class="topbar-social-item fa fa-whatsapp"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="index.html">Pradžia</a>
					</li>

					<li class="item-menu-mobile">
						<a href="akcijos.html">Išpardavimai</a>
					</li>

					<li class="item-menu-mobile">
						<a href="kontaktai.html">Kontaktai</a>
					</li>
                </ul>
			</nav>
		</div>
	</header>


	<!-- Banner -->
	 <center><section class="banner bgwhite p-t-40 p-b-40">
         <div class="container">
		
			<div class="row">

					


				

							

					
			</div>
         </div>
         </section></center>

<section class="bgwhite p-t-45 p-b-58">
		<div class="container">
			<div class="sec-title p-b-22">
				<h3 class="m-text5 t-center">
					Laikrodžiai
				</h3>
			</div>

			<!-- Tab01 -->
			<div class="tab01">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#best-seller" role="tab">Nauji</a>
					</li>
					<!--<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#sale" role="tab">Akcijos</a>
					</li>-->
					<li class="nav-item">
						<a href="laikrodziai.html" role="tab">Visi</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content p-t-35">
					<!-- - -->
					<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
						<div class="row">
                            
                         <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				            <div class="block2">
                                    
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="images/laik/DZ7358/1.png" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
                                                <a href="laikrodziai/DZ7358.html">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Daugiau
												</button>
                                                    </a>
											</div>
										 </div>
									</div>

									<center><div class="block2-txt p-t-20">
                                        <a href="laikrodziai/DZ7358.html" class="block2-name dis-block s-text3 p-b-5">
											DZ-7358
										</a>

										<span class="block2-price m-text6 p-r-5">
											€140.00
										</span>
                                        </div></center>
								</div>
                            </div>
                            
							<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
								<!-- Block2 -->
								<div class="block2">
                                    
       
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img href="laikrodziai/dz7311.html" src="images/laik/CHO1/icon.jpg" alt="IMG-PRODUCT">
                                            
                                            <div href="laikrodziai/cho1.html" class="block2-overlay trans-0-4">

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
                                                <a href="laikrodziai/cho1.html">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Daugiau
												</button>
                                                    </a>
											</div>
                                                
										 </div>
                                        
									</div>
                                  
                                        
									<center><div class="block2-txt p-t-20">
                                         
										<a href="laikrodziai/cho1.html" class="block2-name dis-block s-text3 p-b-5">
											CHO-3032
										</a>

										<span class="block2-price m-text6 p-r-5">
											€130.00
										</span>
                                        
                                        </div></center>
								</div>
							</div>
                            
                            
                            
                            
                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				            <div class="block2">
                                    
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="images/laik/AR1451/icon.jpg" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
                                                <a href="laikrodziai/ar1452.html">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Daugiau
												</button>
                                                    </a>
											</div>
										 </div>
									</div>

									<center><div class="block2-txt p-t-20">
										<a href="laikrodziai/ar1452.html" class="block2-name dis-block s-text3 p-b-5">
											AR-1452
										</a>

										<span class="block2-price m-text6 p-r-5">
											€110.00
										</span>
                                        </div></center>
								</div>
                            </div>
                            
                            
                            
                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				            <div class="block2">
                                    
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="images/laik/AR4629/icon.jpg" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
                                                <a href="laikrodziai/ar4629.html">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Daugiau
												</button>
                                                    </a>
											</div>
										 </div>
									</div>

									<center><div class="block2-txt p-t-20">
                                        <a href="laikrodziai/ar4629.html" class="block2-name dis-block s-text3 p-b-5">
											AR-4629
										</a>

										<span class="block2-price m-text6 p-r-5">
											€115.00
										</span>
                                        </div></center>
								</div>
                            </div>
                            
                            
                            
                            

                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				            <div class="block2">
                                    
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="images/laik/AR5905/castlegate.jpg" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
                                                <a href="laikrodziai/ar5905.html">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Daugiau
												</button>
                                                    </a>
											</div>
										 </div>
									</div>

									<center><div class="block2-txt p-t-20">
                                        <a href="laikrodziai/ar5905.html" class="block2-name dis-block s-text3 p-b-5">
											AR-5905
										</a>

										<span class="block2-price m-text6 p-r-5">
											€110.00
										</span>
                                        </div></center>
								</div>
                            </div>
                            
                            

                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				            <div class="block2">
                                    
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="images/laik/DZ7400/icon.jpg" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
                                                <a href="laikrodziai/dz7400.html">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Daugiau
												</button>
                                                    </a>
											</div>
										 </div>
									</div>

									<center><div class="block2-txt p-t-20">
                                        <a href="laikrodziai/dz7400.html" class="block2-name dis-block s-text3 p-b-5">
											DZ-7400
										</a>

										<span class="block2-price m-text6 p-r-5">
											€140.00
										</span>
                                        </div></center>
								</div>
                            </div>
                            
                            

                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				            <div class="block2">
                                    
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="images/laik/AR5950/icon.jpg" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
                                                <a href="laikrodziai/ar5950.html">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Daugiau
												</button>
                                                    </a>
											</div>
										 </div>
									</div>

									<center><div class="block2-txt p-t-20">
                                        <a href="laikrodziai/ar5950.html" class="block2-name dis-block s-text3 p-b-5">
											AR-5950
										</a>

										<span class="block2-price m-text6 p-r-5">
											€110.00
										</span>
                                        </div></center>
								</div>
                            </div>
                            
                            

                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                                <a href="laikrodziai.html">
				            <div class="block2">
                                    
									<div class="block2-img wrap-pic-w of-hidden pos-relative">
										<img src="images/td.jpg" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
                                                <a href="laikrodziai.html">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Visi laikrodžiai
												</button>
                                                    </a>
											</div>
										 </div>
								</div>
                            </div>
                                </a>
                            
                            
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	</section>

	
	

			
		
<!-- Footer -->	
		<center><div class="bg6 t-center p-l-15 p-r-15">
	<h4 class="s-text15 p-b-0 t-center">
	Susisiekite su mumis
	</h4>
                                
<a href="https://www.facebook.com/OSSO-223766305171825" class="t-center color1 p-r-0 fa fa-facebook"></a>
<a href="https://www.instagram.com/osso_brand/" class="t-center color1 p-r-0 fa fa-instagram"></a>
<a href="https://wa.me/12392701982" class="t-center color1 p-r-0 fa fa-whatsapp"></a>
<div class="t-center s-text9 p-t-2">
<a href="https://www.osso-shop.lt"><img src="images/iconfinder_Lithuania_92181.png" width="30" alt="LANG-LT"></a>
<a href="https://www.osso-shop.lt/en"><img src="images/iconfinder_United-States_flat_92406.png" width="30" alt="LANG-EN"></a>
			</div>			
		<div class="t-center s-text9 p-t-5">
				&copy;ØSSØ 2019</a>
			</div> 
								

	</div>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    </body>
</html>
