<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
       
            
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
             
        {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
         <style>
         {% include 'css/main.css.twig' %}
          {% include 'css/utils.css.twig' %}     
               </style>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script>

            </script>
        {% endblock %}
    </head>

    <body>

	<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="https://www.facebook.com/OSSO-223766305171825" class="topbar-social-item fa fa-facebook"></a>
					<a href="https://www.instagram.com/osso_brand/" class="topbar-social-item fa fa-instagram"></a>
					<a href="https://wa.me/12392701982" class="topbar-social-item fa fa-whatsapp"></a>
					<!--<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>  -->
				</div>

				<span class="topbar-child1">
					<!-- textas ant virsaus -->
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
						<a href="https://www.osso-shop.lt">
                            <img src="images/iconfinder_Lithuania_92181.png" width="30" alt="LANG-LT"> </a>
                        <a href="https://www.osso-shop.lt/en">
                            <img src="images/iconfinder_United-States_flat_92406.png" width="30" alt="LANG-EN"> </a>
					</span>

					<!-- <div class="topbar-language rs1-select2">
						<select class="selection-1" name="time">
							<option>USD</option>
							<option>EUR</option>
						</select> 
					</div> -->
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="index.html" class="logo">
					<img src="images/icons/logo.png" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="index.html">Pradžia</a>
							</li>

							<li class="sale-noti">
								<a href="akcijos.html">Išpardavimai</a>
							</li>

							<li>
								<a href="kontaktai.html">Kontaktai</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    </body>
</html>
